.resumen-container {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  text-align: center;
}

.card h3 {
  color: #6c2bd9;
  margin-bottom: 10px;
}
